@import url(../fonts/font.css);
@import url(//fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic);
@import url(//fonts.googleapis.com/css?family=Roboto:400,300,500,400italic,700,900);

*{
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, input, select, textarea, button, .ui-btn,h1,h2,h3,h4,h5,h6 {
	font-family: "RobotoDraft","Roboto","Helvetica Neue",sans-serif;
	font-weight: 400;
}
body{
	font-size: .889em;
	font-style: normal;
  background: #ffffff;
}
.invalidState {
	border: 2px solid red !important;
}
.display-none {
	display: none;
}
#error {
   color: red;
    position: relative;
    margin: 0;
		height: 16px;
		font-size:0.7em;
}

.socialBtn {
    background-color: transparent;
    /* background-repeat: round; */
    background-size: cover;
    background-position: 0px 0px;
    border: none;
    cursor: pointer;
    height: 45px;
    width: 45px;
		padding:2px 5px;
}

.socialBtn.ui-btn-icon-left:after { display:none }
.ui-btn.ui-icon-fb-icon {
	background-image: url('../images/facebook.png');
}
.ui-btn.ui-icon-gl-icon {
 background-color:#ffffff;
	background-image: url('../images/google+.png');
	    background-size: 45px;
    background-repeat: no-repeat;
    background-position:center;
}
.ui-btn.ui-icon-ln-icon {
 background-color:#006599;
	background-image: url('../images/linkedin.png');
	    background-size: 45px;
    background-repeat: no-repeat;
    background-position:center;
}
.footerBlock, .buttonDiv { padding:10px; text-align:center }
.createAccBtn.ui-link, .forgotPassBtn.ui-link { font-weight:300}

/* ===========================Login Page================================ */
.rmpBox{
	margin:auto;
	left:0;
	top:0;
	background:#ffffff;
}
.cmmingsoonBox{
	margin:auto;
	left:0;
	top:0;
	background:#ffffff;
}
.title_div{
	height:10px;
}
.logoDiv{
	text-align:center;
	padding: 0px 0 10px 0;
}
.logoDiv>img{
    width: 210px;
}
.logoTxt{
	text-align:center;
	margin-top:-32px;
}
.logoTxt>img{
	width: 140px;
}
.not-front .logoDiv>img{
    width: 120px;
	height: 110px;
}
.not-front .logoTxt>img{
	width: 90px;
}
.LoginBox{
	text-align:center;
	margin-top:10px;
}
.userNamebox{
	position:relative;
}
.ui-page-theme-a .ui-body-inherit { border-color: #CBCFDD;}
.ui-input-text, .ui-input-search ,
textarea.ui-input-text.ui-textinput-autogrow {  
	background-color: #fff;
    background-image: none;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555;
		
		 }
.ui-page-theme-a .ui-focus, .ui-input-search input:focus 	{  
	border: 1px solid #66afe9;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(102, 175, 233, 0.6);
    outline: 0 none;
}
.ui-input-text > .inputStyle { 
	height: 2.75em;
    background-position: 98% center;
    background-repeat: no-repeat;
    font-size: 0.889em;
    padding: .5em 2.2em .5em 1em;
    line-height: normal; 
}
.inputStyle.username { background-image: url(../images/user.png); background-size: 19px;}
.inputStyle.password {background-image: url(../images/password.png); background-size: 13px; }

/***************** buttons ********************/
.ui-btn.loginBtn,
.ui-btn.loginButton,
.ui-btn.btnSumbit { 
 background:#4ba614;
 border:1px solid #34740e;
 color:#fff;
 text-shadow:0 1px 0 #333;
 font-weight:400;
}
.ui-btn.loginBtn:hover,
.ui-btn.loginButton:hover,
.ui-btn.btnSumbit:hover{ 
 background:#34740e;
 border:1px solid #4ba614;
 color:#fff;
 text-shadow:0 1px 0 #333;
}
/* button add, save */
.ui-btn.loginBtn,
.ui-btn.loginButton,
.ui-btn.btnSumbit,
.btnAdd.ui-btn.ui-corner-all,
.btnSave.ui-btn.ui-corner-all,
.btnCustomRatingTab.ui-btn.ui-corner-all,
.createAccBtn.ui-btn.ui-corner-all,
.forgotPassBtn.ui-btn.ui-corner-all { 
	border-radius: 3em;
	box-shadow: none;
  padding:.5em 1em;
}
.btnAdd.ui-btn.ui-corner-all { 
	color: green; 
font-size: 1em;
    padding: .4em 1em;
}
.btnCustomRatingTab.ui-btn.ui-corner-all,
.createAccBtn.ui-btn.ui-corner-all,
.forgotPassBtn.ui-btn.ui-corner-all { 
	color: #1b6aac; 
font-size: 1em;
    padding: .4em 1em;
}

/* button upload*/
.profilePic {
    text-align: center;
}
.profilePhoto {
	display: inline-block;
	text-align: center;
	position: relative;
}
.profilePic img {
    border-radius: 0;
    box-shadow: 1px 1px 2px #ccc;
}
.iconBtn.btnUpload {
	    height: 28px !important;
    width: 28px !important;
    position: absolute;
    right: 0;
    bottom: 4px;
    margin: 0;
    border-radius: 0;
    opacity: 0.8;
    border-top-left-radius: 7px;
    font-size: 15px;
    padding-top: 5px;
    padding-left: 6px;
}
/* header */
.ui-header.headerDiv {     
height: 55px;
    padding: .3em .85em;
    box-sizing: border-box; 
		background:#1b6aac;
} 
.ui-header .ui-title { 
	color:#fff; 
	text-shadow: 0 1px 0 #333;
    font-size: 1.25em;
    line-height: 1;
    letter-spacing: .02em;
		text-align: left;
    margin: 0 46px;
}
.ui-page-theme-a .ui-header .backBtn.ui-btn{ 
    background-color: #1b6aac;
    border-color: transparent;
    color: #fff;
    text-shadow: 0 1px 0 #333;
    margin-left: 5px;
    font-size: 1.25rem;
    padding: .5rem .7rem;
		box-shadow:none;
}
h2.subTitle { font-size:1em; }
/* ===========================Create Account Page================================ */

.createAccTitle{
	height: 50px;
    background-color: #202065;
	position:relative;
	
}
.titleTxtSpan{
    font-size: 22px;
    color: #ffffff;
    position: absolute;
    top: 20%;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
}
.Namebox>input{
	text-indent:10px;
	margin-top:15px;
	border-radius:3px;
	font-size:14px;
    height: 40px;
    width: 85%;
}
.Namebox,.emailbox{
	position: relative;
}
.Namebox>img {
    width: 20px;
    position: absolute;
    right: 9%;
    top: 48%;
}
.confirmPasswordbox>input{
	text-indent:10px;
	font-size:14px;
	margin-top:18px;
	border-radius:3px;
    height: 40px;
    width: 85%;
}
.confirmPasswordbox{
	position:relative;
}
.confirmPasswordbox>img {
    width: 13px;
    position: absolute;
    right: 9.5%;
    top: 42%;
}
.emailbox>input{
	text-indent:10px;
	margin-top:15px;
	border-radius:3px;
	font-size:14px;
    height: 40px;
    width: 85%;
}
.emailbox>img {
    width: 20px;
    position: absolute;
    right: 9%;
    top: 51%;
}
.uploadImgDiv{
	margin-top: 15px;
    width: 100%;
    text-align: center;
}
.uploadImgDiv>span{
	font-weight:bold;
	font-size:15px;
}
.uploadImgDiv>input{
    padding-right: 13px;
}
#backToLogin{
    width: 35px;
	position: absolute;
    top: 8%;
    left: 0%;
}
/* ===========================forgot password pop-up================================ */
.forgotPassPopUpBody {
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    z-index: 1000;
}

.ForgotPassDiv {
	left: 50%;
    top: 31%;
    position: relative;
    width: 93%;
    height: 40%;
    background-color: rgb(255, 255, 255);
    webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.2);
    margin-left: -46.5%;
    margin-top: -2%;
}
.firsth2{
	text-align:center;
	padding-top: 23px;
}
.secondh2{
	text-align:center;
	margin-top:5px;
}
.popupEmailbox>input{
	text-indent: 10px;
    margin-top: 30px;
    border-radius: 3px;
    font-size: 14px;
    height: 40px;
    width: 93%;
    margin-left: 3%;
}
.popupEmailbox>img{   
	width: 20px;
    position: absolute;
    right: 6%;
    top: 60%;
}
.popupEmailbox{
	position: relative;
}
.submitCancelDiv{
	display:inline-block;
	background-color:#F2F2F2;
    width: 100%;
    height: 17%;
    margin-top: 64px;
}
.cancelBtn{
	display:inline-block;
	width: 49%;
    text-align: center;
    padding-top: 4%;
	font-size:17px;
	color:#76B3E4;
	font-weight: bold;
	position:relative;
}
.submitBtn{
	display: inline-block;
    width: 49%;
    text-align: center;
    padding-top: 4%;
    font-size: 17px;
    border-left: 2px solid #E2CDCD;
    color: #76B3E4;
    height: 62%;
	font-weight: bold;
	position:relative;
}

.cancelBtnspan{
	position: absolute;
    bottom: 50%;
    left: 29%;
}
.submitBtnspan{
	position: absolute;
    bottom: 14%;
    left: 29%;
}
.commingsoon{
	position: absolute;
    top: 42%;
    left: 24%;
}
.logout{
	font-size:11px;
	color:blue;
}
.logOutLink{
	position: absolute;
    top: 48%;
    left: 42%;
}
/* User Profile */
.UserProfileDetails { 
/* border:1px solid red;*/
	display: -webkit-flex;
	display: flex;
 }
.UserProfileImg{
	-webkit-flex-shrink:0;
	flex-shrink:0;
}
.UserProfilePic { 
width: 65px;
 height: 65px;
 border-radius: 50% !important;
 border: 1px solid #cecece;
}
.UserProfileName { 
 -webkit-flex:auto;
 flex:auto;
     padding: 0 10px;
		 overflow: hidden
}
.ui-listview>li .UserProfileName > p,
.UserProfileName > p { 
padding:3px 0; 
margin:0;  
white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
		}
.UserName { 
font-size: 1.25em;
}

.UserDesignation { 
font-size: .8em;
color:#aaaaaa;
}
.UserProfileDesc { 
    font-size: .8em;
color:#bbbbbb;
}
.UserRatingBar {  
	/*border:1px solid green;*/
	display: -webkit-flex;
	display: flex; 
	-webkit-align-items: center;
	align-items: center;
}

.UserRatingBar  .userRating { 
-webkit-flex-shrink:0;
	flex-shrink:0;
	-webkit-flex: initial;
	flex: initial;
}
.RatingBarBlock .UserRatingBar .userRating { 
	-webkit-flex:auto;
 flex:auto;
}
.rateByCountAvg { 
-webkit-flex:auto;
 flex:auto;
 padding: .2em .5em;
    font-size: 0.85em;
}
.rateByCount {
    font-size: 0.85em;
    padding: .15em .5em;
}
.shareRating { 
-webkit-flex-shrink:0;
	flex-shrink:0;
}
/* search friends page */
.ui-listview>li .UserProfileName .UserName  { 
font-size: 1em;
}
.ui-listview>li .UserProfilePic { 
width: 55px;
 height: 55px;
 }
.connect {     
  border: 1px solid #1b6aac;
    color: #1b6aac;
    padding: 2px 7px;
    border-radius: 1em;
    font-size: 0.75rem;
	cursor: pointer;
 }
.requestSent { 
 color: green;
 font-style:italic;
    padding: 2px 7px;
    font-size: 0.75rem;
 }
.searchResult { position:relative; }
.searchResult .ui-input-text { border-radius:2rem; }
.searchResultCount { 
    color: #1b6aac;
    border-bottom: 1px solid #ccc;
    padding: 5px;
 }
.searchIcon { position:absolute; top:8px; right:10px; }
/* tabs */
.ui-content .ui-navbar li > .ui-btn { 
     padding: .6em 1em;
}
.ui-content .ui-navbar li:first-child .ui-btn { 
border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}
.ui-content .ui-navbar li:last-child .ui-btn { 
border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.skillsTab { 
 margin-top: 10px;
 }
 .skillsTab .ui-listview { 
  box-shadow:none;
	background: transparent;
 }
.skillsTab .ui-listview > li { 
	display: -webkit-flex;
	display: flex; 
	border:0;
	border-bottom:1px solid #eeeeee;
	background: transparent;
}
.skillsTab .ui-listview .skills { 
 -webkit-flex:auto;
 flex:auto;
 white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.skillsTab .ui-listview .skillRating { 
-webkit-flex-shrink:0;
	flex-shrink:0;
}

.skillsTab .ui-listview .skillRating .glyphicon { 
 color: red;
     font-size: 1.25em;
    cursor: pointer;
}

/* Tabs > Tabs */
.skillsTab ul.tabs { 
	margin: 0; 
	padding: 0;
 border-bottom: 1px solid #ddd;
}
.skillsTab ul.tabs li { 
	    display: inline-block;
}
.skillsTab ul.tabs li > a.ui-link { 
display: block;
    padding: 0.25em 1em;
		text-decoration: none;
    font-weight: normal;
		    font-size: 1.5em;
}
.skillsTab ul.tabs li > a.ui-link.active{ 
border-bottom: 3px solid #059;
color:#059;
}

/* footer */
.footerDiv .navLink { 
 display:block;
 font-size: 0.8em;
 font-weight: 400;
}
.footerDiv .NavItem .glyphicon{ 
 font-size:1.5em;
}

/* Select box */
.sendRatingDiv .ui-checkbox,
.sendRatingRequestPage .ui-checkbox { 
 display:inline-block;
}
.sendRatingDiv .ui-checkbox .ui-btn,
.sendRatingRequestPage .ui-checkbox .ui-btn { 
	background: #f9f9f9;
	border:1px solid transparent;
}
.sendRatingRequestBtn ,  .acceptBtn, .rejectBtn, .submitBtn,
.btnSendRatingReq  { 
    display: inline-block;
    padding: .5rem 1rem;
    vertical-align: top;
    margin: 0.5em;
		background-color: #f6f6f6;
    border: 1px solid #ddd;
		text-decoration: none;
    border-radius: 2rem;
}

.acceptReject {
     padding: 2px 6px;
    display: inline-block;
    box-sizing: border-box;
    cursor: pointer;
}
.acceptReject .glyphicon { 
 font-size: 1.5em;
}
.acceptIcon .glyphicon{ 
color: green;
}
.rejectIcon .glyphicon{ 
color: red
}